.btn{
    height: 3rem;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(18, 54, 108);
    color:white
}
.btn:hover{
    cursor: pointer;
    border: 2px solid rgb(18, 54, 108);
    background-color: white;
    color: rgb(18, 54, 108);
}
.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active{
  background-color: #ccc;
  color: #292929;
  border-color: #ccc;
  cursor: not-allowed;
}